#container {
    width: 90%;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    max-width: 480px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

h1 {
    background: #599bbd;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
}

input {
    border: 3px solid rgba(0, 0, 0, 0);
    background: #f7f7f7;
    width: 100%;
    margin: 0;
    height: 50px;
    font-size: 18px;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #599bbd;
    display: none;
}

input:focus {
    background: white;
    border: 3px solid #599bbd;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    word-spacing: 0.1em;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #666;
    background: #4CA1AF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li {
    background: white;
    height: 40px;
    line-height: 40px;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

.fa-plus {
    float: right;
    size: 3px;
    padding: auto auto;
}

li span {
    background: #e74c3c;
    height: 40px;
    color: white;
    text-align: center;
    width: 0px;
    display: inline-block;
    margin-right: 30px;
    transition: width 200ms linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

.footer {
    bottom: 20px;
    position: fixed;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

img {
    width: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}